
:root{
    --c-white : #ebeef3;
    --c-black: black;

    --c-dark-blue : #030617;
    --c-grey-100 : #aaabad;
    --c-grey-200 : #ebeef3;
    --c-grey-300 : #b0b3ba;

    --c-highlight : #10b77f;
    --c-highlight-2 : #282b3a;

    --c-red : #f55;
}

.c-white { color: var(--c-white) }
.c-black { color : var(--c-black) }
.c-light-grey { color : var(--c-grey-100)}
.c-grey { background-color: var(--c-highlight-2) }